absl-py
anyio
argon2-cffi
argon2-cffi-bindings
astroid
attrs
Babel
backcall
beautifulsoup4
bleach
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
colorama
cycler
cymem
debugpy
decorator
defusedxml
deprecation
dictor
dill
diskcache
docker-pycreds
einops
entrypoints
ephem
fastjsonschema
filelock
filterpy
fonttools
future
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
gym
h5py
huggingface-hub
hydra-core
idna
imageio
imgaug
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
json5
jsonschema
jupyter-core
jupyter-server
jupyter_client
jupyter_packaging
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
laspy
laszip
lazy-object-proxy
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
meson
mistune
munkres
murmurhash
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
oauthlib
omegaconf
open3d
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parso
pathtools
pickleshare
Pillow
pkgutil_resolve_name
plac
platformdirs
preshed
prometheus-client
promise
prompt-toolkit
protobuf
psutil
py-trees
pyasn1
pyasn1-modules
pycparser
pydot
pygame
Pygments
pylint
pyparsing
pyro-api
pyro-ppl
pyrsistent
python-dateutil
pytictoc
pytorch-lightning
pytz
PyWavelets
PyYAML
pyzmq
rdp
regex
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scikit-multiflow
scipy
Send2Trash
sentry-sdk
setproctitle
shap
Shapely
shortuuid
simple-watchdog-timer
six
scikit-learn
smmap
sniffio
soupsieve
spacy
srsly
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
thinc
threadpoolctl
tifffile
timm
tinycss2
tokenizers
tomli
tomlkit
--extra-index-url https://download.pytorch.org/whl/cu113
torch
--extra-index-url https://download.pytorch.org/whl/cu113
torchaudio
torchmetrics
--extra-index-url https://download.pytorch.org/whl/cu113
torchvision
tornado
tqdm
traitlets
transformers
typed-ast
typing_extensions
ujson
urllib3
wandb
wasabi
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
zipp